.menu__link {
    text-decoration: none;
    color: #464646;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 6%;
}

.menu__link:hover {
    opacity: .6;
}

